<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products | RedStore</title>
    <link rel="stylesheet" href="/css/product/product.css">
    <link rel="icon" type="image/png" href="images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        {{>navbar}}
    </div>

    <!-- Cart items details -->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {{#each products}}
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="{{this.image}}">
                            <div>
                                <p>{{this.name}}</p>
                                <small>Price: {{this.price}}</small>
                                <br>
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.total}}vnd</td>
                </tr>
            {{/each}}
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>{{total}}vnd</td>
                </tr>
            </table>
        </div>
        <button class="btn btn-danger"><a href="/user/payment">Payment</a></button>
    </div>

    <!-- Footer -->

    {{>footer}}
    </script>

</body>

</html>