<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tín dụng 24/7 | Ecommerce Web</title>
    <link rel="stylesheet" href="/css/product/product.css">
    <link rel="icon" type="image/png" href="images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    {{>header}}

    <!-- Feadtued Categories -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="https://dongtrunghathaovietnam.com.vn/datafiles/img_dongtrung/images/dong-trung-ha-thao-han-quoc/dong-trung-ha-thao-han-quoc-kangwa-hop-go-60-goi(1).jpeg">
                </div>
                <div class="col-3">
                    <img src="https://dongtrunghathaovietnam.com.vn/datafiles/img_dongtrung/images/cua-hang/ecordy/dong-trung-ha-thao-vien-bao-ve-thuc-vat-ecordy-soi-kho-25-g.jpeg">
                </div>
                <div class="col-3">
                    <img src="https://dongtrunghathaovietnam.com.vn/datafiles/img_dongtrung/images/dong-trung-ha-thao-vinh-gia/dong-trung-ha-thao-vinh-gia-60-vien.jpeg">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Sản Phẩm Nổi Bật</h2>
        <div class="row">
            {{#each featuredProducts}}
                <div class="col-4">
                    <a href="/product/{{this.id}}"><img src="{{this.image}}"></a>
                    <h4>{{this.title}}</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>{{this.price}}vnd</p>
                </div>
            {{/each}}
        </div>
        <h2 class="title">Sản Phẩm Mới Nhất</h2>
            
        <div class="row">
            {{#each lastedProductsP1}}
                <div class="col-4">
                    <a href="product/{{this.id}}"><img src="{{this.image}}"></a>
                    <h4>{{this.title}}</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>{{this.price}}vnd</p>
                </div>
            {{/each}}
        </div>
        <div class="row">
            {{#each lastedProductsP2}}
                <div class="col-4">
                    <a href="product/{{this.id}}"><img src="{{this.image}}"></a>
                    <h4>{{this.title}}</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>{{this.price}}vnd</p>
                </div>
            {{/each}}
        </div>
    </div>

    <!-- Offer -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="/images/product-1.jpg" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Nước Yến Sào Cao Cấp 15% Yến Nunest Gold (Hũ 70ml)</p>
                    <h1>Yen</h1>
                    <small>Nước Yến Sào cao cấp Nunest Gold chính là giải pháp dinh dưỡng tối ưu giúp bồi bổ sức khỏe và đẩy lùi lão hóa nhờ sự kết hợp giữa Yến sào thiên nhiên cùng các dưỡng chất như Collagen type II, Chondroitin, Vitamin K2,... tốt cho sức khỏe người dùng.<br></small>
                    <a href="/product/1" class="btn">Mua Ngay &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Giao hàng nhanh, đóng gói rất cẩn thận, bọc chống sốc từng sản phẩm. Chưa biết chất lượng như nào nhưng thấy sản phẩm công ty là yên tâm.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/images/user-1.png">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Chất lượng luôn được đảm bảo, đội ngũ tư vấn và hộ trợ tần tình</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/images/user-2.png">
                    <h3>Mike Smith</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Sản phẩm luôn tốt và khiến sức khỏe của bản thân tôi và gia đình tăng lên. Tôi rất hài lòng về đội ngũ và dịch vụ của bạn</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/images/user-3.png">
                    <h3>Mabel Joe</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Brands -->

    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="/images/vietcombank.png">
                </div>
                <div class="col-5">
                    <img src="/images/vpbank.jpg">
                </div>
                <div class="col-5">
                    <img src="/images/eximbank.png">
                </div>
                <div class="col-5">
                    <img src="/images/ABBank.png">
                </div>
            </div>
        </div>
    </div>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    </script>
    <!-- Footer -->
    {{>footer}}

    <!-- javascript -->
    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "100410616414529");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v17.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk')); 

</body>

</html>